* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(43, 43, 43);
    letter-spacing: 0.1px;
}

.checklist-container {
    width: 743px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3579F5;
    border-radius: 10px;
    padding: 12px 18px 15px 22px;
}

.circle {
    background-color: #3579F5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 16px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

svg {
    position: absolute;
    width: 59px;
    height: 59px;
    fill: none;
    stroke-width: 3px;
    stroke: #FFFFFF;
    overflow: visible;
    stroke-dasharray: 315;
    transform: rotate(-90deg);
    /* !!!!!!!!!!!!!!!! */
    /* Вместо 5 можно указать другой процент заполнения прогресс бара */
    stroke-dashoffset: calc(315 - (315 * 5 / 100)); 
}


.number {
    background: #3579F5;
    width: 58px;
    height: 58px;
    color: white;
    border-radius: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.status {
    margin-bottom: 10px;
}

.title {
    width: 76px;
    height: 18px;
    border-radius: 40px;
    background-color: #2364DB;
    font-size: 12px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 4px;
}

.completed,
.next-action {
    display: block;
    /* font-size: 14px; */
}

.completed {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 20px;
}

.next-action {
    font-size: 12px;
    line-height: 18px;
}

.open-checklist {
    width: 170px;
    height: 40px;
    background-color: #F4F8FF;
    color: #4777ED;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    text-wrap: nowrap;
    font-size: 14px;
}